.menu {
    
    background-color:lightgray;
    border:2px solid rgba(53, 40, 40, 0.185) ;
    border-radius: 10px;
    margin:  10px 10px 10px 10px;
    padding: 0;
    width: 300px;
}

li {
    list-style-type: none;

}
a {
    text-decoration: none;
    color: #000 !important;
}
.linkDiv {
    background-color: darkmagenta;
    padding: 5px;
}
.linkDiv:hover {
    background-color:green;

}
ul {
    padding: 0;
    margin: 0;
}